RewriteEngine on
RewriteCond %{HTTP_REFERER} !^http://(www\.)?localhost [NC]
RewriteCond %{HTTP_REFERER} !^http://(www\.)?localhost.*$ [NC]
RewriteRule \.(key|txt|bat|png|php)$ - [F]

<Files index.php>
    Order Allow,Deny
    Allow from all
</Files>

<Files login.php>
    Order Allow,Deny
    Allow from all
</Files>
